html {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

body {
    background: #23335D;
    color: #cddff1; 
}


header{
  padding: 10px;
  text-align: center;
  background-color: #7aa8cd;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #5493bb;
}

h2, h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
  display: flex;
  text-align: center;
  font-size: 18px;
}

.column {
  flex: 15%;
  text-align: center;
  font-size: 18px;
}


.mountain {
  width: 100%;
  padding: 10px 5px;
  border: 30px;
  border-color: black;
}

.mountain_fig {
  margin: 0%;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
}

.mountain_list, .month_list li{
  list-style-type: none;
  color: #7aa8cd;
}


